In [53]:
import os

from datetime import datetime
from concurrent import futures

import pandas as pd
from pandas import DataFrame
import pandas_datareader.data as web
import pandas_datareader as pdr

from datetime import date 
import tiingo
import numpy as np

In [3]:
now_time = datetime.now()
start_time = datetime(now_time.year - 10, now_time.month , now_time.day)
api_key = "57faeaf57f08c983e03aee6f91ffc72ba2c40a55"

In [4]:
tiingo_config = {}
tiingo_config['session'] = True
tiingo_config['api_key'] = "57faeaf57f08c983e03aee6f91ffc72ba2c40a55"  # StockConstants.API
client = tiingo.TiingoClient(tiingo_config)

### Get Tiingo data for stocks and store in database

In [5]:
import os

class Config(object):
    DEBUG = False
    TESTING = False
    CSRF_ENABLED = True
    SECRET_KEY = 'capstone'

class ProductionConfig(Config):
    DEBUG = False
    SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL')


class DevelopmentConfig(Config):
    DEVELOPMENT = True
    DEBUG = True
    SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL',
                                             'postgresql://postgres:postgres@127.0.0.1/capstone_website')

In [6]:
from flask import Flask
from flask_bootstrap import Bootstrap
from flask_sqlalchemy import SQLAlchemy
from flask_login import LoginManager
import logging
import os

# Create the app
app = Flask(__name__)
app.logger.setLevel(logging.INFO)

# Load config
mode = "DEV"
try:
    if mode == 'PROD':
        app.config.from_object(ProductionConfig)
        app.logger.info(f"Connected to prod")
    elif mode == 'DEV':
        app.config.from_object(DevelopmentConfig)
        app.logger.info(f"Connected to dev")
    else:
        logging.error(f"Cannot recognize config stage. Must be one of: [PROD, DEV]")

except ImportError:
    logging.error(f"Cannot import Config settings.")

db = SQLAlchemy(app)

[2020-11-29 14:50:21,930] INFO in <ipython-input-6-30e2c504de4c>: Connected to dev
C:\Users\Mary\Anaconda3\envs\capstone\lib\site-packages\flask_sqlalchemy\__init__.py:834: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [7]:
class Stock(db.Model):
    __tablename__ = "stocks"

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    ticker = db.Column(db.String(255), primary_key=True)
    date = db.Column(db.Date)
    open = db.Column(db.Float)
    high = db.Column(db.Float)
    low = db.Column(db.Float)
    close = db.Column(db.Float)

    def __repr__(self):
        return '<Stock %r>' % self.ticker

    @staticmethod
    def get_data(tickers, start_date, end_date, freq="D", cols=None):
        '''
        Check if ticker already exists in database. If not, query Tiingo
        '''

        try:

            stock_query = Stock.query.filter(
                Stock.date >= start_date,
                Stock.date <= end_date,
                Stock.ticker.in_(tickers)
            )

            stock_data = pd.read_sql(stock_query.statement, db.session.bind)
            if stock_data.shape[0]:
                if cols is not None and isinstance(cols, list):
                    stock_data = stock_data[cols]
                #TODO: grouper was giving me errors
                # stock_data = stock_data.groupby(pd.Grouper(freq=freq)).last().dropna()

            retrieved_tickers = stock_data.ticker.unique().tolist()
            missing_tickers = [x for x in tickers if x not in retrieved_tickers]
            tiingo_data = Stock.get_tiingo_data(missing_tickers, start_date, end_date, freq, metric_name=cols)
            stock_data = stock_data.append(tiingo_data)

        except Exception as e:
            print(f"Stock:get_data - Ran into Exception: {e}. Retrieving from Tiingo...")
            stock_data = Stock.get_tiingo_data(tickers, start_date, end_date, freq, metric_name=cols)

        return stock_data

    @staticmethod
    def get_tiingo_data(tickers, start_date, end_date, freq="D", metric_name=None):

        freq_mapping = {"D" : "daily",
                        "M": "monthly"}

        tiingo_col = ["adjOpen", "adjHigh", "adjLow", "adjClose"]
        col_mapping = {x: x.strip("adj").lower() for x in tiingo_col}

        freq = "D" if freq not in freq_mapping.keys() else freq

        stock_data = pd.DataFrame({})
        for ticker in tickers:
            try:
                if metric_name is not None:
                    data = client.get_dataframe(ticker,
                                                metric_name=metric_name,
                                                startDate=start_date,
                                                endDate=end_date,
                                                frequency=freq_mapping[freq])
                else:
                    data = client.get_dataframe(ticker,
                                                startDate=start_date,
                                                endDate=end_date,
                                                frequency=freq_mapping[freq])

                data = data[tiingo_col].rename(columns=col_mapping)
                data["ticker"] = ticker
                data = data.reset_index()
                data["id"] = data.index
                data[["open", "close", "high", "low"]] = data[["open", "close", "high", "low"]].apply(lambda x: round(x, 5))
                stock_data = stock_data.append(data)

            except tiingo.restclient.RestClientError:
                print(f"Failed for ticker: {ticker}")

        # Store retrieved stock data to the database
        if stock_data.shape[0]:
            # TODO: Grouper giving me issues
            # stock_data = stock_data.groupby(pd.Grouper(freq=freq)).last().dropna()
            stocks = [Stock(ticker=stock["ticker"], date=stock["date"],
                            open=stock["open"], close=stock["close"],
                            high=stock["high"], low=stock["low"]) for stock in stock_data.to_dict(orient="rows")]
            db.session.add_all(stocks)
            db.session.commit()

        return stock_data

db.create_all()

In [9]:
def populate_db(tickers, start_time, end_time):
    
    failed_tickers = []
    for ticker in tickers:
        try:
            print(f"Getting data for ticker: {ticker}...")
            Stock.get_data([ticker], start_date=start_time, end_date=end_time)
        except Exception as e:
            failed_tickers.append(ticker)
            print(f"Failed for ticker {ticker} on exception: {e}")
    return failed_tickers

In [39]:
end_time = datetime.now()
start_time = datetime(end_time.year - 14, now_time.month , now_time.day)
print(f"Retrieving data from {start_time} to {end_time}...")

Stock.get_tiingo_data(["MSFT"], start_time, end_time, freq="D", metric_name=None)

Retrieving data from 2006-11-29 00:00:00 to 2020-11-29 16:13:39.101981...

,date,open,high,low,close,ticker,id
0,2006-11-29 00:00:00+00:00,21.70459,21.95526,21.69722,21.80044,MSFT,0
1,2006-11-30 00:00:00+00:00,21.68985,21.80044,21.62047,21.64561,MSFT,1
2,2006-12-01 00:00:00+00:00,21.54977,21.60138,21.30641,21.46868,MSFT,2
3,2006-12-04 00:00:00+00:00,21.54977,21.76357,21.50554,21.62350,MSFT,3
4,2006-12-05 00:00:00+00:00,21.64561,21.67510,21.40232,21.47605,MSFT,4
...,...,...,...,...,...,...,...
3519,2020-11-20 00:00:00+00:00,212.20000,213.28500,210.00000,210.39000,MSFT,3519
3520,2020-11-23 00:00:00+00:00,210.95000,212.29000,208.16000,210.11000,MSFT,3520
3521,2020-11-24 00:00:00+00:00,209.59000,214.25000,208.86000,213.86000,MSFT,3521
3522,2020-11-25 00:00:00+00:00,215.11000,215.29000,212.46000,213.87000,MSFT,3522
3523,2020-11-27 00:00:00+00:00,214.85000,216.27000,214.04000,215.23000,MSFT,3523

In [70]:
# end_time = datetime.now()
# start_time = datetime(end_time.year - 14, now_time.month , now_time.day)
# print(f"Retrieving data from {start_time} to {end_time}...")

# Stock.get_tiingo_data(["SPY"], start_time, end_time, freq="D", metric_name=None)

In [37]:
end_time = datetime.now()
start_time = datetime(end_time.year - 14, now_time.month , now_time.day)
print(f"Retrieving data from {start_time} to {end_time}...")

tickers = {  'Industrials': ['ETN', 'AME', 'AAL', 'CHRW'],
             'Health Care': ['ABT', 'AMGN', 'VRTX', 'ALGN'],
             'Information Technology': ['AAPL', 'ADBE', 'AMD', 'ADS'],
             'Communication Services': ['T', 'CMCSA', 'ATVI', 'CHTR'],
             'Consumer Discretionary': ['AMZN', 'F', 'DG', 'CMG'],
             'Utilities': ['DUK', 'LNT', 'AES', 'FE'],
             'Financials': ['C', 'BAC', 'CBOE', 'RE'],
             'Materials': ['APD', 'FMC', 'BLL', 'CF'],
             'Real Estate': ['DRE', 'BXP', 'EQIX', 'CCI'],
             'Consumer Staples': ['CL', 'KMB', 'KR', 'STZ'],
             'Energy': ['CVX', 'XOM', 'COG', 'APA']}

list_of_ticks = []
_ = [list_of_ticks.extend(x) for x in list(tickers.values())]

failed_tickers = populate_db(list_of_ticks, start_time, end_time)

Retrieving data from 2006-11-29 00:00:00 to 2020-11-29 14:53:58.884696...
Getting data for ticker: ETN...
Getting data for ticker: AME...
Getting data for ticker: AAL...
Getting data for ticker: CHRW...
Getting data for ticker: ABT...
Getting data for ticker: AMGN...
Getting data for ticker: VRTX...
Getting data for ticker: ALGN...
Getting data for ticker: AAPL...
Getting data for ticker: ADBE...
Getting data for ticker: AMD...
Getting data for ticker: ADS...
Getting data for ticker: T...
Getting data for ticker: CMCSA...
Getting data for ticker: ATVI...
Getting data for ticker: CHTR...
Getting data for ticker: AMZN...
Getting data for ticker: F...
Getting data for ticker: DG...
Getting data for ticker: CMG...
Getting data for ticker: DUK...
Getting data for ticker: LNT...
Getting data for ticker: AES...
Getting data for ticker: FE...
Getting data for ticker: C...
Getting data for ticker: BAC...
Getting data for ticker: CBOE...
Getting data for ticker: RE...
Getting data for ticker: APD...
Getting data for ticker: FMC...
Getting data for ticker: BLL...
Getting data for ticker: CF...
Getting data for ticker: DRE...
Getting data for ticker: BXP...
Getting data for ticker: EQIX...
Getting data for ticker: CCI...
Getting data for ticker: CL...
Getting data for ticker: KMB...
Getting data for ticker: KR...
Getting data for ticker: STZ...
Getting data for ticker: CVX...
Getting data for ticker: XOM...
Getting data for ticker: COG...
Getting data for ticker: APA...

In [13]:
client.get_ticker_metadata("GOOGL")

{'exchangeCode': 'NASDAQ',
 'endDate': '2020-11-27',
 'name': 'Alphabet Inc - Class A',
 'ticker': 'GOOGL',
 'startDate': '2004-08-19',
 'description': "Google Inc. (Google) is a global technology company. The Company's business is primarily focused around key areas, such as search, advertising, operating systems and platforms, enterprise and hardware products. The Company generates revenue primarily by delivering online advertising. The Company also generates revenues from Motorola by selling hardware products. The Company provides its products and services in more than 100 languages and in more than 50 countries, regions, and territories. Effective May 16, 2014, Google Inc acquired Quest Visual Inc. Effective May 20, 2014, Google Inc acquired Enterproid Inc, doing business as Divide. In June 2014, Google Inc acquired mDialog Corp. Effective June 25, 2014, Google Inc acquired Appurify Inc, a San Francisco-based developer of mobile bugging application software."}

### Get risk free rate from Quandl

In [45]:
import quandl

In [81]:
ten_year = quandl.get("USTREASURY/YIELD", authtoken="9fAk7zSVntyqvUiJfci_")["10 YR"]
ten_year_df = pd.DataFrame(ten_year[ten_year.index > datetime(2006,1,1)]).reset_index()
ten_year_df = ten_year_df.rename(columns={"Date": "date"})

#### Merge with stock data to create new sp500df

In [73]:
tickers = {  'Industrials': ['ETN', 'AME', 'AAL', 'CHRW'],
             'Health Care': ['ABT', 'AMGN', 'VRTX', 'ALGN'],
             'Information Technology': ['AAPL', 'ADBE', 'AMD', 'ADS'],
             'Communication Services': ['T', 'CMCSA', 'ATVI', 'CHTR'],
             'Consumer Discretionary': ['AMZN', 'F', 'DG', 'CMG'],
             'Utilities': ['DUK', 'LNT', 'AES', 'FE'],
             'Financials': ['C', 'BAC', 'CBOE', 'RE'],
             'Materials': ['APD', 'FMC', 'BLL', 'CF'],
             'Real Estate': ['DRE', 'BXP', 'EQIX', 'CCI'],
             'Consumer Staples': ['CL', 'KMB', 'KR', 'STZ'],
             'Energy': ['CVX', 'XOM', 'COG', 'APA']}

list_of_ticks = []
_ = [list_of_ticks.extend(x) for x in list(tickers.values())]

In [77]:
price_data = Stock.get_data(list_of_ticks, datetime(2006,1,1), datetime(2020,12,1))

In [78]:
price_data = price_data[~price_data["close"].isnull()]
price_data = price_data[["date", "ticker", "close"]].pivot(index="date", columns="ticker", values="close")

In [82]:
price_data.head()

ticker,AAL,AAPL,ABT,ADBE,ADS,AES,ALGN,AMD,AME,AMGN,...,FE,FMC,KMB,KR,LNT,RE,STZ,T,VRTX,XOM
date,,,,,,,,,,,,,,,,,,,,,
2006-11-28,53.50150,2.82791,15.97506,40.00,59.91304,16.01210,13.25,21.41,13.12438,57.76940,...,31.14763,11.59722,39.13641,8.64195,11.63150,72.93191,25.88134,15.58646,44.89,47.97239
2006-11-29,53.50150,2.82360,15.93749,40.16,60.91081,16.13639,13.12,21.57,13.23805,56.66857,...,31.23637,11.57762,39.23676,8.48382,11.55427,72.48994,26.00215,15.77722,44.30,48.46454
2006-11-30,52.87939,2.81312,15.90675,39.35,61.13671,16.13639,13.08,20.69,13.01884,55.34439,...,31.59655,11.62989,39.16003,8.55893,11.53348,72.51941,26.16942,15.81910,44.14,48.71062
2006-12-03,54.83055,2.80696,16.42935,39.29,61.13671,16.37806,13.51,21.04,13.22181,55.16092,...,31.69573,11.67399,39.64997,8.82776,11.70278,73.13080,26.22518,15.93076,44.19,49.07027
2006-12-04,54.36868,2.81158,16.49425,39.15,62.12507,16.37806,14.22,21.34,13.11627,55.08913,...,31.99849,11.68379,39.75622,9.28634,11.72060,73.48437,26.07649,16.13548,44.54,49.25325

In [91]:
ten_year_df["date"] = ten_year_df["date"].astype(object).apply(lambda x: x.date())
ten_year_df["10 YR"] = ten_year_df["10 YR"] / 100

In [95]:
new_price = price_data.merge(ten_year_df, how="left", on ="date").rename(columns={"date": "Date"})

In [93]:
sp

,Date,AAL,AAPL,AAP,ABC,ABT,ACN,ADBE,ADI,ADM,...,MO,PRU,RE,SCHW,STZ,T,VRTX,XEC,XOM,XRAY
0,2010-11-04,11.560,11.366786,65.809998,31.959999,24.412224,45.669998,29.459999,35.630001,31.559999,...,26.150000,55.590000,88.330002,15.840000,19.950001,29.440001,34.770000,80.480003,69.379997,31.719999
1,2010-11-05,11.570,11.326072,65.629997,31.680000,24.431416,45.669998,29.139999,35.529999,31.350000,...,26.110001,55.639999,88.820000,16.100000,20.070000,29.270000,35.060001,79.879997,70.000000,31.719999
2,2010-11-08,11.230,11.379286,65.970001,31.450001,24.205910,44.980000,29.290001,35.419998,31.190001,...,25.870001,54.990002,87.980003,15.790000,20.040001,29.180000,34.509998,80.959999,70.320000,31.270000
3,2010-11-09,10.990,11.288571,66.010002,30.830000,24.013990,45.299999,29.490000,35.070000,30.850000,...,25.580000,54.889999,87.690002,15.530000,19.900000,29.180000,34.270000,81.790001,70.629997,31.639999
4,2010-11-10,10.780,11.358214,66.720001,31.469999,24.071566,45.500000,29.790001,34.709999,30.780001,...,25.209999,55.779999,88.379997,15.380000,19.889999,29.049999,34.439999,81.889999,71.129997,31.690001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,2020-10-29,11.160,115.320000,146.000000,94.589996,105.000000,216.440002,461.109985,118.480003,49.919998,...,36.869999,63.040001,202.110001,40.310001,165.850006,26.760000,207.009995,24.680000,32.970001,44.799999
2514,2020-10-30,11.280,108.860001,147.279999,96.070000,105.110001,216.910004,447.100006,118.529999,46.240002,...,36.080002,64.019997,197.080002,41.110001,165.229996,27.020000,208.360001,25.370001,32.619999,47.189999
2515,2020-11-02,11.190,108.769997,151.380005,98.940002,107.480003,220.190002,444.940002,118.480003,48.560001,...,36.480000,65.930000,207.000000,41.259998,176.389999,27.340000,207.419998,26.139999,33.990002,47.700001
2516,2020-11-03,11.250,110.440002,157.429993,102.150002,109.559998,225.710007,454.019989,119.750000,47.900002,...,37.389999,67.779999,215.639999,42.560001,184.839996,27.459999,211.139999,26.129999,33.410000,47.770000
2517,2020-11-04,11.215,114.559898,158.309998,106.055000,112.999901,228.889999,487.484985,124.029999,47.520000,...,38.665001,66.415001,216.764999,41.267300,183.250000,27.235001,216.860001,26.209999,33.852001,48.494999

In [98]:
new_price.set_index('Date').to_csv("small_universe.csv")