In [1]:
import os
import pandas as pd
import numpy as np

In [12]:
sp_data = pd.read_csv('sp500df.csv')
sp_sector_mapping = pd.read_csv('SP500_Sectors.csv')
sp_sectors_data = pd.read_csv('SP500_Sector_Data.csv')

In [78]:
sp_sectors_data.head()

  Ticker       Sector                 Specifics
0    MMM  Industrials  Industrial Conglomerates
1    AOS  Industrials         Building Products
2    ABT  Health Care     Health Care Equipment
3   ABBV  Health Care           Pharmaceuticals
4   ABMD  Health Care     Health Care Equipment

In [95]:
all_sp = sp_data.columns.values
num_stocks = 5
best_stocks = {}

for sector in sp_sector_mapping.Sector.unique():
    
    # Get the tickers for that sector only, and select the values that are available in our dataframe
    sector_tickers = sp_sector_mapping.Ticker.loc[sp_sector_mapping.Sector == sector]
    sector_tickers = list(set(all_sp) & set(list(sector_tickers.values)))
    
    # Get the sector data, including for individual stocks
    sector_data = pd.merge(sp_industrials_data, sp_sectors_data[['Effective date ', \
                                                                    'S&P 500 '+sector+' (Sector)']],\
                                                                    left_on=['Date'], right_on=['Effective date '],\
                                                                    how = 'left').drop(['Effective date '], axis=1)
    
    # Get the correlation
    corrs = sp_industrials_data[sp_industrials_data.columns[1:]].corr()['S&P 500 '+ sector +' (Sector)'][:-1]
    
    best_stocks[sector] = list(corrs.nlargest(num_stocks).index.values)

KeyError: 'S&P 500 Health Care (Sector)'

In [17]:
sp_industrials = sp_sector_mapping.Ticker.loc[sp_sector_mapping.Sector == 'Industrials']

In [52]:
sp_list = list(sp_industrials.values)
all_sp = sp_data.columns.values
sp_list = list(set(sp_list) & set(all_sp))

In [73]:
sp_industrials_data = sp_data[['Date'] + sp_list]

In [74]:
sp_industrials_data = pd.merge(sp_industrials_data, sp_sectors_data[['Effective date ', \
                                                                    'S&P 500 '+'Industrials'+' (Sector)']],\
                                                                    left_on=['Date'], right_on=['Effective date '],\
                                                                    how = 'left').drop(['Effective date '], axis=1)

In [76]:
sp_industrials_data.head()

,Date,DE,AAL,CMI,FAST,CHRW,EMR,MMM,GD,FLS,...,CSX,AOS,FDX,EXPD,CTAS,ALK,DOV,DAL,CAT,S&P 500 Industrials (Sector)
0,2010-11-04,79.180000,11.56,95.639999,13.4375,72.250000,56.750000,87.040001,69.169998,32.946667,...,20.840000,9.968333,88.800003,51.709999,28.170000,13.8125,37.009232,14.18,83.180000,286.67
1,2010-11-05,79.099998,11.57,96.389999,13.4350,71.790001,57.279999,86.339996,69.660004,34.726665,...,20.600000,9.963333,90.000000,51.779999,28.200001,13.9700,36.922089,14.26,83.540001,288.21
2,2010-11-08,78.669998,11.23,95.400002,13.2950,72.169998,56.860001,85.860001,69.400002,35.223331,...,20.743334,9.978333,90.309998,51.259998,28.100000,13.7750,36.560104,14.09,83.120003,287.24
3,2010-11-09,77.870003,10.99,93.300003,13.2500,71.190002,56.180000,85.300003,69.199997,35.173332,...,20.389999,9.676666,88.120003,50.450001,27.620001,13.3850,36.452850,13.86,81.910004,284.65
4,2010-11-10,78.919998,10.78,94.529999,13.3600,70.690002,56.070000,86.250000,68.209999,35.683334,...,20.570000,9.783334,88.480003,50.860001,27.870001,13.5200,36.767910,13.54,82.459999,284.23

In [82]:
x = sp_industrials_data[sp_industrials_data.columns[1:]].corr()['S&P 500 '+'Industrials'+' (Sector)'][:-1]

In [90]:
x

DE      0.837186
AAL     0.607845
CMI     0.850195
FAST    0.682747
CHRW    0.679577
EMR     0.714082
MMM     0.898802
GD      0.930214
FLS     0.034813
BA      0.873326
ETN     0.894828
AME     0.931903
EFX     0.907214
CSX     0.897935
AOS     0.933492
FDX     0.856517
EXPD    0.819093
CTAS    0.886780
ALK     0.727699
DOV     0.901759
DAL     0.879660
CAT     0.706386
Name: S&P 500 Industrials (Sector), dtype: float64

In [93]:
x.nlargest(5).index

Index(['AOS', 'AME', 'GD', 'EFX', 'DOV'], dtype='object')